<div class="repo p-2 text-center">
  <a href="https://github.com/ryo-ma/github-profile-trophy">
    <span class="d-none d-sm-none d-md-block">
      <img
        class="repo-img-light"
        alt="{{ include.username }}"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=6"
      >
      <img
        class="repo-img-dark"
        alt="{{ include.username }}"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_dark }}&locale={{ site.lang }}&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=6"
      >
    </span>

    <span class="d-none d-sm-block d-md-none">
      <img
        class="repo-img-light"
        alt="{{ include.username }}"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=4"
      >
      <img
        class="repo-img-dark"
        alt="{{ include.username }}"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_dark }}&locale={{ site.lang }}&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=4"
      >
    </span>

    <span class="d-block d-sm-none">
      <img
        class="repo-img-light"
        alt="{{ include.username }}"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=3"
      >
      <img
        class="repo-img-dark"
        alt="{{ include.username }}"
        src="https://github-profile-trophy.vercel.app/?username={{ include.username }}&theme={{ site.repo_trophies.theme_dark }}&locale={{ site.lang }}&margin-w=15&margin-h=15&no-bg=true&rank=-C&column=3"
      >
    </span>
  </a>
</div>
