<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
      class="repo-img-light w-100"
      alt="{{ include.username }}"
      src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_light }}&show_icons=true"
    >
    <img
      class="repo-img-dark w-100"
      alt="{{ include.username }}"
      src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_dark }}&show_icons=true"
    >
  </a>
</div>
