<div class="list-groups">
  {% assign certificates = data[1] | sort: 'date' | reverse %}
  {% for content in certificates %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            {% if content.icon %}
              <td class="list-group-category-icon">
                <i class="{{ content.icon }}"></i>
              </td>
            {% else %}
              <td class="list-group-category-icon"></td>
            {% endif %}
            <!-- Calculate colspan number for category title -->
            {% assign i = 1 %}
            {% for item in content.items %}
              {% assign i = i | plus: 1 %}
            {% endfor %}
            <td colspan="{{ i }}" class="list-group-category">
              <a href="{{ content.url | default: # }}">{{ content.name }}</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="list-group-name">
              <b>{{ content.issuer }}</b>
            </td>
            <td class="list-group-name">{{ content.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
