---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title"><i class="fa-solid fa-calendar fa-sm"></i> {{ page.date | date: '%Y' }}</h1>
    <p class="post-description">an archive of posts from this year</p>
  </header>

  <article class="archive">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for post in page.posts %}
          <tr>
            <th scope="row">{{ post.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if post.redirect == blank %}
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
              {% elsif post.redirect contains '://' %}
                <a class="post-link" href="{{ post.redirect }}" target="_blank">{{ post.title }}</a>
              {% else %}
                <a class="post-link" href="{{ post.redirect | relative_url }}">{{ post.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </article>
</div>
